h1  {
    color:white
}
p {
    color:white
}
u1 {
    color:white
}
li {
    color:white
}
h2 {
    color:white
}
.otherbg {
    background-image: url(https://www.cameronsworld.net/img/content/21/bg.png);
}
.names {
    background-image: url(https://www.cameronsworld.net/img/content/24/bg.jpg)
}
.interests {
    background-image: url(https://textures.neocities.org/thumbnails/abstract-pink-and-blue/thumb_073.jpg)
}
.hypnospace {
    background-image: url(squares.png)
}

.portf {
  background-image: url(ceramic.jpg)
}
.systemm {
  background-image: url(1019.png)
}
.highlight {
    background-color:black;
    color:white;
}
.awa {
    border-radius: 0px;
    display: block;
    height: 60px;
    width: 275px;
    background: #c8c8c8;
    border: 1px solid rgba(0, 0, 0, 1);
    outline: none;
    margin-bottom: 6px;
}
.awa:hover {
    display: block;
    height: 60px;
    width: 275px;
    background: #c8c8c8;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
